/* table dimensions */

#tblHistory tbody {
  width: 755px;
  height: 370px;
}

#tblHistory th, #tblHistory td {
  width: 46px;
}

#tblHistory th + th, #tblHistory td + td  {
  width: 66px
}

#tblHistory th + th + th, #tblHistory td + td + td {
  width: 58px
}

#tblHistory th + th + th + th, #tblHistory td + td + td + td {
  width: 88px
}

#tblHistory th + th + th + th + th {
  width: 418px
}

#tblHistory td + td + td + td + td {
  width: 401px;
  text-align: left;
  padding-left: 10px;
}

#tblCritical {
  margin-top: 20px;
  margin-bottom: 20px;
}

#tblCritical th, #tblCritical td{
  width: 200px;
}

#tblHistory th, #tblCritical th {
  text-align: center;
}

.reveal .comparevideo .video {
  float: left;
  width: 300px;
  margin: 20px 20px 0 0;
}

.reveal .comparevideo .video .caption {
  font-size: 14px;
  margin: 0;
  font-style: italic;
  padding: 0;
  line-height: 14px;
}
